Sources/CRorkHighlighterParsers/languages/** linguist-vendored
Sources/RorkHighlighter/Resources/Languages/** linguist-vendored
ThirdPartyLicenses/** linguist-vendored

LanguagePack.lock.json linguist-generated
Sources/CRorkHighlighterParsers/include/CRorkHighlighterParsers.h linguist-generated
Sources/RorkHighlighter/BundledLanguages.generated.swift linguist-generated
